celery==5.2.6
Flask==2.1.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
GeoAlchemy2==0.11.1
gunicorn==20.1.0
Jinja2==3.1.2
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.1
SQLAlchemy==1.4.36
Werkzeug==2.1.2
WTForms==3.0.1
Cerberus
psycopg2