<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - GeoAppService</title>
      {% else %}
      <title>Welcome to Indian Airports Databse</title>
      {% endif %}
    </head>
    <body>
        <div>

            GeoAppService: 
            <ul>
                <li><a href="{{ url_for('entry_route.welcome') }}">Home</a> </li>
                <li><a href="{{ url_for('india_route.list_all_airports') }}">List all Airports</a> </li>
                <li><a href="{{ url_for('india_route.get_nearest_airport') }}">Find Nearest Airport</a></li>
                <li><a href="{{ url_for('india_route.add_airport') }}">Add to Database</a></li>
            </ul>                
                   
        </div>
        
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>