<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - GeoAppService</title>
      {% else %}
      <title>Welcome to Indian Airports Databse</title>
      {% endif %}
    </head>
    <body>
        <div>
            GeoAppService: 
            <a href="{{ url_for('index') }}">Airports</a>
            <a href="{{ url_for('add') }}">Add</a>
        </div>
        
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>